/* This is what commenting out looks like in CSS. A comment in CSS is started with a "/" + "*" and closed with "*" + "/". Same keyboard shortcut as HTML (the keyboard shortcut to comment out is the same for all code languages, even if the symbols look different). */

/* Below I've commented out the @font-face rule to import the typeface "Monde." If you're using a font file you own on your computer, you can replace the font-family with the typeface name (remember to put it in between "" or '') and the src: url() with the location of your font file. */

/* @font-face {
    font-family: 'monde';
    src: url(assets/monde-regular.otf);
} */



/* broad selectors */



*{
 margin: 0px;
 font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 234, 255);
    color: rgb(0, 0, 0);
    margin-left: 50px;

}

/* generic element selector */
h1 {
    font-weight: 700;
    color: crimson;
    font-family: 'Space Mono', monospace;
    font-size: 100px;
    
}

h2{
    padding-top: 20px;
}

h3{
    padding-top: 20px;
}
/* generic element selector */
p{
    padding-top: 20px;
    line-height: 28px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;



}

/* generic element selector */
a {
    
}


/* class */
/* ".classname" */
.fun{
    color: rgb(255, 60, 0);
    font-size: 24px;
    line-height: 30px;
    font-family: 'Space Mono', monospace;
}

.fun:hover{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* id */
#morefun{
    color: rgb(195, 0, 255);
}

/* #morefun:hover{
    color: rgb(255, 255, 255);
} */


/* some advanced properties  */
.container{
    columns: 3;


}

    /* columns: 3;
    column-gap: 20px;
    column-rule-style: solid;
    font-size: 16px;
    line-height: 120%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; */

/* animation rules */
/* @keyframes color {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

  @keyframes scale {
    0%   {font-size: 16px}
    50%  {font-size: 36px;}
    100% {font-size: 16px}
  }

  @keyframes twirl {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(359deg)}
  } */

  @keyframes color {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

.color{
    animation-name:color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.color:hover{
    /* padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold ; */
    /* apply animation rules to class */
    /* animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}


.twirl{
    /* color: rgb(255, 0, 234);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold ;
    cursor: pointer; */
    /* apply animation rules to class */
    /* animation-name: twirl;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}

.scale{
    /* color: rgb(0, 72, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold ;
    cursor: pointer;
    /* apply animation rules to class */
    /* animation-name: scale;
    animation-duration: 5s;
    animation-iteration-count: infinite; */ 
}


